* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  flex-direction: column;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 100%;
  text-align: center;
}

#location-input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
  border: 2px solid #00aaff;
  border-radius: 5px;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

#weather-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.weather-variable {
  background: #00aaff;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  /* box-shadow : despelazamiento horizontal,vertical,difuminado,color*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-variable h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.weather-variable p {
  font-size: 1.5em;
  font-weight: bold;
}

@media (max-width: 600px) {
  .weather-variable {
    padding: 10px;
  }

  #weather-info {
    grid-template-columns: 1fr;
  }
}
